/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }
  *:before, *:after {
    box-sizing: inherit; }

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

.glide {
  position: relative;
  width: 100%;
  height: 100%; }

.glide__wrapper {
  overflow: hidden; }

.glide__track {
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden; }

.glide__track.dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.glide__slide {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

.glide__slide a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.glide__arrow {
  cursor: pointer; }

.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.glide--slider .glide__slide {
  float: left;
  clear: none; }

.glide--carousel.glide--vertical .glide__track {
  overflow: visible; }

.glide--carousel .glide__slide {
  float: left;
  clear: none; }

.glide--slideshow .glide__wrapper {
  height: 100%; }

.glide--slideshow .glide__slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0); }

.glide--slideshow .glide__slide.active {
  z-index: 1; }

.glide__arrows {
  position: absolute; }

.glide--horizontal .glide__arrows {
  top: 50%;
  width: 92%;
  margin-left: 4%; }

.glide--vertical .glide__arrows {
  left: 50%;
  height: 88%;
  margin-top: 6%; }

.glide__arrow {
  position: absolute;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  font: 11px Arial, sans-serif;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: opacity 150ms ease, border 300ms ease-in-out;
  transition: opacity 150ms ease, border 300ms ease-in-out; }

.glide__arrow.disabled {
  opacity: 0.33; }

.glide__arrow:focus {
  outline: none; }

.glide__arrow:hover {
  border-color: white; }

.glide--horizontal .glide__arrow {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.glide--horizontal .glide__arrow.prev {
  left: 0; }

.glide--horizontal .glide__arrow.next {
  right: 0; }

.glide--vertical .glide__arrow {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.glide--vertical .glide__arrow.prev {
  top: 0; }

.glide--vertical .glide__arrow.next {
  bottom: 0; }

.glide__bullets {
  position: absolute;
  z-index: 2;
  list-style: none; }

.glide--horizontal .glide__bullets {
  bottom: 8%;
  left: 0;
  width: 100%;
  height: 12px;
  text-align: center; }

.glide--vertical .glide__bullets {
  top: 50%;
  right: 8%;
  width: 12px;
  height: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.glide__bullets > * {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

.glide--horizontal .glide__bullets > * {
  margin: 0 5px; }

.glide--vertical .glide__bullets > * {
  vertical-align: middle; }

.glide__bullets > *.active {
  background-color: white; }

.glide__bullets > *:focus {
  outline: none; }

.glide__bullets > *:hover,
.glide__bullets > *:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5); }

@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@font-face {
  font-family: 'Gumption';
  src: url("fonts/gumption-lite-webfont.woff2") format("woff2"), url("fonts/gumption-lite-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* Colors */
html {
  font-size: 14px; }

body {
  font-family: "Montserrat", sans-serif;
  background: #F3FDF9; }

img {
  vertical-align: middle; }

.wrapper {
  margin: 0 auto;
  width: 1200px; }

.wrapper:after,
.row:after {
  content: " ";
  display: table;
  clear: both; }

[class*='col-'] {
  float: left;
  min-height: 1px;
  padding: 1rem;
  width: 100%; }

@media only screen and (min-width: 20em) {
  .wrapper {
    width: 100%;
    max-width: 1200px; }
  .col-1 {
    width: 8.3333333333%; }
  .col-2 {
    width: 16.6666666667%; }
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.3333333333%; }
  .col-5 {
    width: 41.6666666667%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.3333333333%; }
  .col-8 {
    width: 66.6666666667%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.3333333333%; }
  .col-11 {
    width: 91.6666666667%; }
  .col-12 {
    width: 100%; } }

/* Topbar */
.topbar .logo {
  text-decoration: none;
  margin-right: 1rem;
  position: relative;
  top: -1.0714285714rem; }

.topbar .search {
  display: inline-block;
  background: #FFFFFF;
  border-radius: 0.1428571429rem;
  overflow: hidden;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08); }
  .topbar .search .search-form {
    position: relative;
    content: " ";
    display: table;
    clear: both; }
    .topbar .search .search-form > * {
      display: block;
      float: left; }
    .topbar .search .search-form .query {
      border: none;
      outline: none;
      color: #1ABC9C;
      font-size: 13px;
      font-size: 0.9285714286rem;
      font-family: "Montserrat", sans-serif;
      border-bottom: 2px solid #1ABC9C;
      background: none;
      padding: 0.8rem 1rem;
      width: 15rem; }
    .topbar .search .search-form .select-category {
      font-size: 13px;
      font-size: 0.9285714286rem;
      color: #F39C12;
      font-family: "Montserrat", sans-serif;
      margin-right: 2.2rem;
      -webkit-appearance: none;
      padding: 0.8rem 3rem 0.8rem 1rem;
      background: #FFFFFF;
      border: none;
      border-bottom: 2px solid #F39C12;
      border-radius: 0;
      outline: none; }
    .topbar .search .search-form .submit {
      cursor: pointer;
      border: none;
      outline: none;
      background: #1ABC9C;
      height: 100%;
      width: 2.2857142857rem;
      position: absolute;
      top: 0;
      right: 0;
      width: 3.2142857143rem; }

.topbar .sell_button {
  display: inline-block;
  background: #1ABC9C;
  color: #FFFFFF;
  border-radius: 0.1428571429rem;
  padding: 0.8rem 1rem;
  font-size: 13px;
  font-size: 0.9285714286rem;
  text-decoration: none;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25); }

.topbar .tools {
  content: " ";
  display: table;
  clear: both;
  display: inline-block; }
  .topbar .tools .tool {
    float: left;
    margin-right: 1.5rem;
    position: relative; }
    .topbar .tools .tool .profile .round {
      display: inline-block;
      height: 2.1428571429rem;
      width: 2.1428571429rem;
      border-radius: 50%;
      overflow: hidden; }
      .topbar .tools .tool .profile .round .photo {
        width: 100%; }
    .topbar .tools .tool .profile .expand {
      -webkit-transform: translateY(-0.7142857143rem);
      transform: translateY(-0.7142857143rem); }
    .topbar .tools .tool .icon {
      position: relative;
      top: 0.5rem; }

.topbar .right {
  text-align: right; }

.top_links {
  background: #E6F8F6;
  border-top: 1px solid #ECF0F1;
  border-bottom: 1px solid #ECF0F1; }
  .top_links .links {
    content: " ";
    display: table;
    clear: both; }
    .top_links .links .item {
      float: left;
      margin-right: 1rem; }
      .top_links .links .item .link {
        color: #95A5A6;
        text-decoration: none;
        font-size: 13px;
        font-size: 0.9285714286rem; }

/* Footer */
#footer {
  background: url("../img/footer_bg.jpg") no-repeat top left;
  background-size: cover; }
  #footer .title {
    color: #95A5A6;
    text-transform: uppercase;
    font-size: 16px;
    font-size: 1.1428571429rem;
    margin-bottom: 1rem; }
  #footer .links .item {
    margin: 0.5rem 0; }
    #footer .links .item .link {
      color: #1ABC9C;
      text-decoration: none; }
  #footer p {
    color: #95A5A6;
    margin-bottom: 1rem; }
  #footer .newsletter-form {
    display: inline-block;
    margin-bottom: 1rem; }
    #footer .newsletter-form .input-wrapper {
      content: " ";
      display: table;
      clear: both;
      background: #FFFFFF;
      border: 1px solid #ECF0F1;
      border-radius: 0.1428571429rem;
      overflow: hidden; }
      #footer .newsletter-form .input-wrapper .email {
        float: left;
        background: none;
        border: none;
        font-size: 13px;
        font-size: 0.9285714286rem;
        padding: 0.5rem 1rem;
        outline: none;
        width: 11.4285714286rem; }
      #footer .newsletter-form .input-wrapper .submit {
        float: left;
        background: #1ABC9C;
        border: none;
        color: #FFFFFF;
        font-size: 13px;
        font-size: 0.9285714286rem;
        padding: 0.5rem 1rem; }
        #footer .newsletter-form .input-wrapper .submit:hover {
          cursor: pointer; }
  #footer .bottom {
    border-top: 1px solid #ECF0F1; }
    #footer .bottom .col-6:nth-child(2) {
      text-align: right; }
    #footer .bottom .copyright {
      color: #95A5A6;
      font-size: 12px;
      font-size: 0.8571428571rem; }
    #footer .bottom .social {
      content: " ";
      display: table;
      clear: both;
      display: inline-block; }
      #footer .bottom .social .item {
        float: left;
        margin-right: 0.5rem; }
  #footer .payments {
    content: " ";
    display: table;
    clear: both; }
    #footer .payments .payment {
      float: left;
      margin-right: 0.5rem; }

/* Banner */
#banner {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.1428571429rem; }
  #banner .glide__wrapper .glide__track .glide__slide {
    position: relative; }
    #banner .glide__wrapper .glide__track .glide__slide .img {
      width: 100%;
      border-radius: 0.1428571429rem; }
    #banner .glide__wrapper .glide__track .glide__slide .content {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 80%; }
      #banner .glide__wrapper .glide__track .glide__slide .content .caption {
        color: #FFFFFF;
        font-family: "Gumption", sans-serif;
        font-size: 44px;
        font-size: 3.1428571429rem;
        margin-bottom: 2rem; }
      #banner .glide__wrapper .glide__track .glide__slide .content .link {
        display: inline-block;
        color: #FFFFFF;
        text-decoration: none;
        border: 2px solid #FFFFFF;
        border-radius: 0.3571428571rem;
        font-size: 20px;
        font-size: 1.4285714286rem;
        padding: 0.5rem 1rem; }
        #banner .glide__wrapper .glide__track .glide__slide .content .link:hover {
          background: #FFFFFF;
          color: #1ABC9C;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }

/* Newest */
#newest {
  padding-bottom: 3rem; }
  #newest > .title {
    color: #95A5A6;
    font-size: 20px;
    font-size: 1.4285714286rem;
    padding: 1.5rem 0 0.5rem 0;
    border-bottom: 1px solid #ECF0F1; }
  #newest .product {
    display: block;
    position: relative;
    border-radius: 0.2142857143rem;
    box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.13);
    overflow: hidden; }
    #newest .product .img {
      width: 100%; }
    #newest .product .caption {
      background: rgba(255, 255, 255, 0.9);
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 2.5rem 0.2rem 0.5rem 0.2rem;
      height: 5.7142857143rem;
      border-radius: 0 0 0.2142857143rem 0.2142857143rem; }
      #newest .product .caption .title {
        color: #406661;
        text-transform: uppercase;
        font-size: 13px;
        font-size: 0.9285714286rem; }
      #newest .product .caption .price {
        color: #FFFFFF;
        font-size: 20px;
        font-size: 1.4285714286rem;
        background: #1ABC9C;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 1.3rem 0.5rem;
        border-radius: 50%;
        height: 4.2857142857rem;
        width: 4.2857142857rem; }

/* Stripe */
.stripe {
  background: #F9FAFA;
  border-top: 1px solid #ECF0F1;
  border-bottom: 1px solid #ECF0F1;
  padding: 0.5rem 0; }
  .stripe span {
    font-size: 13px;
    font-size: 0.9285714286rem;
    color: #95A5A6; }
    .stripe span:first-child {
      position: relative;
      top: -0.7142857143rem; }
  .stripe .newsletter-form {
    display: inline-block; }
    .stripe .newsletter-form .input-wrapper {
      content: " ";
      display: table;
      clear: both;
      background: #FFFFFF;
      border: 1px solid #ECF0F1;
      border-radius: 0.1428571429rem;
      overflow: hidden; }
      .stripe .newsletter-form .input-wrapper .email {
        float: left;
        background: none;
        border: none;
        font-size: 13px;
        font-size: 0.9285714286rem;
        padding: 0.5rem 1rem;
        outline: none;
        width: 11.4285714286rem; }
      .stripe .newsletter-form .input-wrapper .submit {
        float: left;
        background: #1ABC9C;
        border: none;
        color: #FFFFFF;
        font-size: 13px;
        font-size: 0.9285714286rem;
        padding: 0.5rem 1rem; }
        .stripe .newsletter-form .input-wrapper .submit:hover {
          cursor: pointer; }
  .stripe .payment-options {
    position: relative;
    top: 0.7142857143rem; }
    .stripe .payment-options .payments {
      content: " ";
      display: table;
      clear: both;
      display: inline-block;
      position: relative;
      top: -0.3571428571rem;
      margin-left: 0.5rem; }
      .stripe .payment-options .payments .payment {
        float: left;
        margin-right: 0.5rem; }

/* Collections */
#collections {
  padding: 2rem 0; }
  #collections > .title {
    color: #95A5A6;
    font-size: 20px;
    font-size: 1.4285714286rem;
    padding: 1.5rem 0 0.5rem 0;
    border-bottom: 1px solid #ECF0F1; }
  #collections .collection {
    position: relative;
    border-radius: 0.2142857143rem;
    box-shadow: 0px 5px 7px 1px rgba(0, 0, 0, 0.13);
    overflow: hidden; }
    #collections .collection .img {
      width: 100%; }
    #collections .collection .title {
      text-align: center;
      color: #FFFFFF;
      font-size: 26px;
      font-size: 1.8571428571rem;
      position: absolute;
      left: 0;
      bottom: 2rem;
      width: 100%;
      font-family: "Gumption", sans-serif; }

/* Product */
#product .gallery .main-photo {
  position: relative; }
  #product .gallery .main-photo .img {
    width: 100%; }
  #product .gallery .main-photo .price {
    position: absolute;
    font-size: 20px;
    font-size: 1.4285714286rem;
    background: #1ABC9C;
    color: #FFFFFF;
    position: absolute;
    top: 3rem;
    right: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 1.3rem 0.5rem;
    border-radius: 50%;
    height: 4.2857142857rem;
    width: 4.2857142857rem; }
