/* Banner */
#banner
    box-shadow: 0px 4px 8px 0px rgba($black,0.20)
    border-radius: rem(2px)
    .glide__wrapper
        .glide__track
            .glide__slide
                .img
                    // width: 100%
                    border-radius: rem(2px)