/* Topbar */

.topbar
    .logo
        text-decoration: none
        margin-right: 1rem
        position: relative
        top: rem(-15px)
    .search
        display: inline-block
        background: $white
        border-radius: rem(2px)
        overflow: hidden
        box-shadow: 0 3px 8px 0 rgba($black, 0.08)
        .search-form
            position: relative
            +clear
            & > *
                display: block
                float: left
            .query
                border: none
                outline: none
                color: $green
                +font-size(13px)
                font-family: $montserrat
                border-bottom: 2px solid $green
                background: none
                padding: 0.8rem 1rem
                width: 15rem
            .select-category
                +font-size(13px)
                color: $orange
                font-family: $montserrat
                margin-right: 2.2rem
                -webkit-appearance: none
                padding: 0.8rem 3rem 0.8rem 1rem
                background: $white
                border: none
                border-bottom: 2px solid $orange
                border-radius: 0
                outline: none
            .submit
                cursor: pointer
                border: none
                outline: none
                background: $green
                height: 100%
                width: rem(32px)
                position: absolute
                top: 0
                right: 0
                width: rem(45px)
    .sell_button
        display: inline-block
        background: $green
        color: $white
        border-radius: rem(2px)
        padding: 0.8rem 1rem
        +font-size(13px)
        text-decoration: none
        box-shadow: 0 3px 8px 0 rgba($black, 0.25)
    .tools
        +clear
        display: inline-block
        .tool
            float: left
            margin-right: 1.5rem
            position: relative
            .profile
                .round
                    display: inline-block
                    height: rem(30px)
                    width: rem(30px)
                    border-radius: 50%
                    overflow: hidden
                    .photo
                        width: 100%
                .expand
                    transform: translateY(rem(-10px))
            .icon
                position: relative
                top: rem(7px)
    .right
        text-align: right

.top_links
    background: $greener
    border-top: 1px solid $border
    border-bottom: 1px solid $border
    .links
        +clear
        .item
            float: left
            margin-right: 1rem
            .link
                color: $grayer
                text-decoration: none
                +font-size(13px)
